name: Test
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test-linux:
    name: Test Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install xcb
        run: sudo apt install libx11-xcb-dev
      - name: Run Tests
        uses: actions-rs/cargo@v1
        with:
          command: test
